.registration-option {
    cursor: pointer;
}

.registration-option:hover {
    background-color: #efefef;
}

.selected {
    background-color: #FFC100;
    color: #fff;
}

.selected:hover {
    background-color: #FFC100;
    color: #fff;
}

.btn {
    width: 20%;
}

.hidden {
    display: none;
}
