@{
    ViewData["Title"] = "Client";
}

<head>

    <link rel="stylesheet" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css" type="text/css" />
    <link rel="stylesheet" href="~/css/map.css" type="text/css" />
    <link rel="stylesheet" href="~/css/client.css" type="text/css" />

    <script type="text/javascript" src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps-web.min.js"></script>
    <script src="~/js/autocomplete.js"></script>

</head>

<body>

    <div id="client-page">

        <div id="map">
            <div id="request-form">
                <div class="form-group" id="destination-form">
                    <label for="destination" id="destination-label">Where are you going?</label>

                    <div id="destination-search">
                        <input type="text" autocomplete="off" class="form-control" id="destination" name="destination" placeholder="Search..." required onchange="AutocompleteManager.clearSelectedPlace()" />
                        <button type="button" id="destination-button" class="btn btn-secondary" onclick="AutocompleteManager.handleAutocomplete()"><img id="search-icon" src="~/images/Home/icons/search-icon.svg"></button>
                    </div>
                    <div id="autocomplete-results"></div>
                </div>

                <div class="form-group text-center pt-1 mt-4">
                    <button type="button" id="locationButton" class="btn btn-primary" onclick="ClientPage.ClientManager.toggleLocationSharing()">Request Taxi</button>
                </div>
            </div>
        </div>

    </div>

    <script src="~/js/client.js"></script>

</body>