@{
    ViewData["Title"] = "Clients page";
}
<h1>@ViewData["Title"]</h1>

<p>Clients page</p>

<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css" type="text/css" />
    <script type="text/javascript" src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps-web.min.js"></script>

    <style>


        #client-page {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 90vh;
            width: 100%;
        }

        #request-form {
            margin-bottom: 50px;
        }

        #map {
            width: 100%;
            height: 60%;
        }

        .marker-border {
            background: orange;
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }

        .marker-icon {
            background-position: center;
            background-size: 25px 20px;
            position: absolute;
            left: 7.5px;
            top: 10px;
            height: 20px;
            width: 25px;
        }

        .marker-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mapboxgl-popup-content {
            border-radius: 10px;
        }

    </style>

</head>

<body>

    <div id="client-page">

        <form id="request-form">
            <div class="form-group">
                <label for="destination">Where are you going?</label>
                <input type="text" class="form-control" id="destination" name="destination" />
            </div>

            <div class="form-group text-center pt-1 mt-4">
                <button type="button" id="locationButton" class="btn btn-primary" onclick="toggleLocationSharing()">Request Taxi</button>
            </div>
        </form>


        <div id="map"></div>

    </div>

    <script type="text/javascript" src="~/js/client.js"></script>

</body>

</html>