<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoTaxi.PL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoTaxi.PL.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <b><a class="navbar-brand mr-5" asp-area="" asp-controller="Home" asp-action="Index"><img style="width: 5em" src="~/images/Home/logos/go-taxi.png"/></a></b>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="align-items: center;">

                        <li class="nav-item mr-2 font-weight-bold">
                            <a style="font-size: 1.3em; transition: 0.3s ease-in-out" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item font-weight-bold">
                            <a style="font-size: 1.3em; transition: 0.3s ease-in-out" class="nav-link text-dark fs-10" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOutUser"><i style="font-size: 2.5em; transition: 0.3s ease-in-out" class="fa fa-sign-out"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>