@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/index.css">


</head>
<body>

    <div id="taxi-section">
        <div id="ride-book">
            <div id="quote-text">
                <h1 class="primary-text">
                    Fast, Friendly, Reliable
                </h1>
                <h1 class="secondary-text">
                    Your Ride, Your Smile!
                </h1>

                <h6 class="info-text" id="quote-info">Getting you where you want to go. Your satisfaction, our commitment.</h6>

                <form asp-controller="Home" asp-action="Register">
                    <button id="register-button">Register Now</button>
                </form>
            </div>

            <img id="taxi-driver-illustration" src="~/images/Home/taxi-driver.svg" alt="taxi driver svg" />

        </div>
    </div>

    <div id="clients-section">

        <div id="driver-of-the-week">

            <div id="driver-title">
                <h1 class="primary-text">Driver of the week</h1>
            </div>

            <div id="driver">
                <img id="driver-photo" src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.6435-9/147589701_761908094427175_1671332337700494203_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=be3454&_nc_ohc=0AM-IJRqbUgAX-C358-&_nc_ht=scontent-sof1-1.xx&oh=00_AfDskJH8OhnuNVqo_dT6LzYBDwtmePoKjtuyeXOAsIGfvA&oe=65CB8914">

                <div id="driver-details">

                    <div id="driver-info">
                        <h1 class="primary-text">Alexander Baev</h1>

                        <div id="rating-stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star-half-full checked"></span>
                        </div>
                    </div>



                    <img src="~/images/Home/logos/codingburgas.png">

                </div>

                <div id="" driver-statistics">
                    <p class="info-text driver-statistic">Clients served: 5</p>
                    <p class="info-text driver-statistic">Km travelled: 100</p>
                    <p class="info-text driver-statistic">Driving Time: 5h 30m 23s</p>
                    <p class="info-text driver-statistic">Average speed: 67 km/h</p>
                    <p></p>
                </div>
            </div>
        </div>

        <div id="our-clients">
            <h1 class="primary-text" id="our-clients-primary">Our Clients</h1>

            <h6 class="info-text" id="our-clients-description">We are honored to partner with businesses of all sizes, providing seamless transportation solutions for corporate events</h6>

            <div id="client-logos">
                <img class="client-logo" style="width: 4em" src="~/images/Home/logos/burgas.png" />
                <img class="client-logo" src="~/images/Home/logos/addison-lee.png" />
                <img class="client-logo" src="~/images/Home/logos/akasya.png" />
                <img class="client-logo" src="~/images/Home/logos/burgasbus.png" />
                <img class="client-logo" style="width: 4em" src="~/images/Home/logos/codingburgas.png" />
                <img class="client-logo" src="~/images/Home/logos/top-rent-a-car.png" />
                <img class="client-logo" src="~/images/Home/logos/yellow333.png" />
            </div>

        </div>

    </div>

    <div id="app-info">
        <div id="statistics">
            <div id="statistics-left">
                <h1 class="primary-text statistics-primary-text">Helping people find<br></h1>
                <h1 class="secondary-text statistics-primary-text">each other</h1>
                <p class="info-text" id="statistics-info-text">We reached here with our hard work and dedication</p>
            </div>

            <div id="statistics-right">
                <div class="statistic">
                    <img class="statistics-icons" src="~/images/Home/icons/passengers-icon.svg" />

                    <div class="statistics-text">
                        <h2 class="primary-text statistics-numbers">123,444</h2>
                        <p class="info-text">Passengers</p>
                    </div>
                </div>

                <div class="statistic">
                    <img class="statistics-icons" src="~/images/Home/icons/car-icon.svg" />

                    <div class="statistics-text">
                        <h2 class="primary-text statistics-numbers">432</h2>
                        <p class="info-text">Taxis</p>
                    </div>
                </div>

                <div class="statistic">
                    <img class="statistics-icons" src="~/images/Home/icons/road-icon.svg" />

                    <div class="statistics-text">
                        <h2 class="primary-text statistics-numbers">675,392</h2>
                        <p class="info-text">km travelled</p>
                    </div>
                </div>

                <div class="statistic">
                    <img class="statistics-icons" src="~/images/Home/icons/city-icon.svg" />

                    <div class="statistics-text">
                        <h2 class="primary-text statistics-numbers">7</h2>
                        <p class="info-text">cities</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="mockup-section">
            <div id="mockups">
                <img class="mockups" src="~/images/Home/mockup/iphone-mockup-portrait.png" />
                <img class="mockups" src="~/images/Home/mockup/mac-mockup.png" />
            </div>

            <div id="logo-and-button">
                <a id="up-button" href="#taxi-section" class="fa fa-arrow-up"></a>
                <img id="go-taxi-logo" src="~/images/Home/logos/go-taxi.png" />
            </div>


        </div>
    </div>



</body>