@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <style>

        body {
            overflow-x: hidden;
        }

        /* Mozilla */

        * {
            scrollbar-width: auto;
            scrollbar-color: #FFC100;
        }

            /* Chrome, Edge, and Safari */
            *::-webkit-scrollbar {
                width: 16px;
            }

            *::-webkit-scrollbar-track {
                background: #ffffff;
            }

            *::-webkit-scrollbar-thumb {
                background-color: #FFC100;
                border-radius: 10px;
                border: 3px solid #ffffff;
            }


        #taxi-section {
            width: 100vw;
            height: 80vh;
            background-color: #F5F7FA;
        }

        #ride-book {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        #quote-text {
            padding-left: 10%;
            display: flex;
            flex-direction: column;
        }

        .primary-text {
            color: #4D4D4D;
            font-size: 5em;
        }

        .secondary-text {
            color: #FFC100;
        }

        #quote-info {
            margin-top: 2em;
        }

        .info-text {
            color: #717171;
            font-weight: 500;
            font-size: 1.1em;
            font-style: italic;
        }

        #taxi-driver-illustration {
            padding-right: 10%;
            width: 45%;
        }

        #register-button {
            margin-top: 3em;
            width: 10em;
            height: 3em;
            background-color: #FFC100;
            color: #ffffff;
            font-weight: bold;
            border: none;
            border-radius: 6px;
            transition: 0.3s ease-in-out;
        }

            #register-button:hover {
                background-color: #FFCF00;
            }

        #our-clients {
            padding-top: 5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #our-clients-primary {
            font-weight: bold;
        }

        #our-clients-description {
            margin-top: 1em;
        }

        #client-logos {
            margin-top: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 10em;
        }

        .client-logo {
            width: 7em;
            height: fit-content;
            filter: grayscale(0.3);
        }

        #statistics {
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5em;
            padding: 5em 5em 5em 10em;
            background-color: #F5F7FA;
        }

        .statistics-primary-text {
            font-size: 4em;
        }

        #statistics-info-text {
            margin-top: 3em;
        }

        #statistics-right {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 3em;
            column-gap: 10em;
        }

        .statistics-icons {
            width: 4em;
        }

        .statistic {
            display: flex;
            gap: 2em;
        }

        .statistics-text {
            display: flex;
            flex-direction: column;
        }

        .statistics-numbers {
            font-size: 2.5em;
            font-weight: 600;
        }

    </style>

</head>
<body>

    <div id="taxi-section">
        <div id="ride-book">
            <div id="quote-text">
                <h1 class="primary-text">
                    Fast, Friendly, Reliable
                </h1>
                <h1 class="secondary-text">
                    Your Ride, Your Smile!
                </h1>

                <h6 class="info-text" id="quote-info">Getting you where you want to go. Your satisfaction, our commitment.</h6>

                <form asp-controller="Home" asp-action="Register">
                    <button id="register-button">Register Now</button>
                </form>
            </div>

            <img id="taxi-driver-illustration" src="~/images/Home/taxi-driver.svg" alt="taxi driver svg" />

        </div>
    </div>

    <div id="our-clients">
        <h1 class="primary-text" id="our-clients-primary">Our Clients</h1>

        <h6 class="info-text" id="our-clients-description">We are honored to partner with businesses of all sizes, providing seamless transportation solutions for corporate events</h6>

        <div id="client-logos">
            <img class="client-logo" style="width: 4em" src="~/images/Home/logos/burgas.png" />
            <img class="client-logo" src="~/images/Home/logos/addison-lee.png" />
            <img class="client-logo" src="~/images/Home/logos/akasya.png" />
            <img class="client-logo" src="~/images/Home/logos/burgasbus.png" />
            <img class="client-logo" style="width: 4em" src="~/images/Home/logos/codingburgas.png" />
            <img class="client-logo" src="~/images/Home/logos/top-rent-a-car.png" />
            <img class="client-logo" src="~/images/Home/logos/yellow333.png" />
        </div>

    </div>

    <div id="statistics">
        <div id="statistics-left">
            <h1 class="primary-text statistics-primary-text">Helping people find<br></h1>
            <h1 class="secondary-text statistics-primary-text">each other</h1>
            <p class="info-text" id="statistics-info-text">We reached here with our hard work and dedication</p>
        </div>

        <div id="statistics-right">
            <div class="statistic">
                <img class="statistics-icons" src="~/images/Home/icons/passengers-icon.svg" />

                <div class="statistics-text">
                    <h2 class="primary-text statistics-numbers">123,444</h2>
                    <p class="info-text">Passengers</p>
                </div>
            </div>

            <div class="statistic">
                <img class="statistics-icons" src="~/images/Home/icons/car-icon.svg" />

                <div class="statistics-text">
                    <h2 class="primary-text statistics-numbers">432</h2>
                    <p class="info-text">Taxis</p>
                </div>
            </div>

            <div class="statistic">
                <img class="statistics-icons" src="~/images/Home/icons/road-icon.svg" />

                <div class="statistics-text">
                    <h2 class="primary-text statistics-numbers">675,392</h2>
                    <p class="info-text">km travelled</p>
                </div>
            </div>

            <div class="statistic">
                <img class="statistics-icons" src="~/images/Home/icons/city-icon.svg" />

                <div class="statistics-text">
                    <h2 class="primary-text statistics-numbers">7</h2>
                    <p class="info-text">cities</p>
                </div>
            </div>
        </div>
    </div>



</body>