@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/login-register.css">


</head>

<body>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Welcome to GoTaxi!</h2>

                <h3 class="text-center pt-5 mb-5">Register</h3>

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                }

                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }

                <div class="mb-3 text-center">
                    <button type="button" class="btn registration-option selected"
                            onclick="FormManager.selectOption('client')">
                        Client
                    </button>
                    <button type="button" class="btn registration-option"
                            onclick="FormManager.selectOption('taxi')">
                        Driver
                    </button>
                </div>

                <!-- Taxi Driver Form -->
                <form asp-action="RegisterDriver" method="post" id="taxi-form" class="hidden">

                    <div class="taxi-field">
                        <label for="taxi-plate">Plate Number:</label>
                        <input type="text" class="form-control" id="taxi-plate" name="plateNumber" autocomplete="on" required />
                    </div>

                    <div class="taxi-field">
                        <label for="taxi-full-name">Full Name:</label>
                        <input type="text" class="form-control" id="taxi-full-name" name="fullName" autocomplete="on" required />
                    </div>

                    <div class="taxi-field">
                        <label for="taxi-email">Email:</label>
                        <input type="text" class="form-control" id="taxi-email" name="email" autocomplete="on" required />
                    </div>

                    <div class="taxi-field">
                        <label for="taxi-password">Password:</label>
                        <input type="password" class="form-control" id="taxi-password" name="password" required />
                    </div>

                    <div class="text-center pt-1 mt-4">
                        <button type="submit" class="btn btn-primary" onsubmit="FormManager.clearFormInputs()" style="background: #FCC100; border-color: #FFC100">Register</button>
                    </div>
                    <p class="text-center mt-5">Already have an account? <a asp-controller="Home" asp-action="Login" style="color: #FCC100;">Log In</a></p>

                </form>

                <!-- Client Form -->
                <form asp-action="RegisterClient" method="post" id="client-form">

                    <div class="client-field">
                        <label for="client-phone">Phone Number:</label>
                        <input type="text" class="form-control" id="client-phone" name="phoneNumber" autocomplete="on" required />
                    </div>

                    <div class="client-field">
                        <label for="client-full-name">Full Name:</label>
                        <input type="text" class="form-control" id="client-full-name" name="fullName" autocomplete="on" required />
                    </div>

                    <div class="client-field">
                        <label for="client-email">Email:</label>
                        <input type="text" class="form-control" id="client-email" name="email" autocomplete="on" required />
                    </div>

                    <div class="client-field">
                        <label for="client-password">Password:</label>
                        <input type="password" class="form-control" id="client-password" name="password" required />
                    </div>

                    <div class="text-center pt-1 mt-4">
                        <button type="submit" class="btn btn-primary" onsubmit="FormManager.clearFormInputs()" style="background: #FCC100; border-color: #FFC100">Register</button>
                    </div>
                    <p class="text-center mt-5">Already have an account? <a asp-controller="Home" asp-action="Login" style="color: #FCC100;">Log In</a></p>

                </form>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/js/form.js"></script>
</body>