@{
    ViewData["Title"] = "Taxi";
}

<head>
    <link rel="stylesheet" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css" type="text/css" />
    <link rel="stylesheet" href="~/css/map.css" type="text/css" />
    <link rel="stylesheet" href="~/css/taxi.css" type="text/css" />

    <script type="text/javascript" src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps-web.min.js"></script>
    <script type="text/javascript" src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/services/services-web.min.js"></script>

</head>

<body>

    <div id="taxi-page">
        <div id="map"></div>
    </div>

    <script type="text/javascript" src="~/js/taxi.js"></script>

</body>